.skill_heading {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    margin-bottom: 100px;
    text-align: center;
    color: white;
    padding-top: 200px;
}
.skills_section {
    background-color: #597175;
    padding-bottom: 100px;
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
}
.skill_style {
    display: flex;
    width: 360px;
    flex-direction: column;
    margin-bottom: 70px;
}
.skill_columns {
    display: flex;
    flex-wrap: wrap;
    margin-left: 100px;
    margin-right: 100px;
    justify-content: space-between;
    max-width: 1140px;
}
.skill_title {
    font-size: 22px;
    margin-top: 20px;
    margin-bottom: 15px;
    text-align: center;
    color: white;
}
.skill_content {
    font-size: 16px;
    padding-top: 0px;
    color: white;
}
.skill_image {
    width: 112px;
    justify-content: center;
    margin-right: auto;
    margin-left: auto;
}