.experience_section {
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    flex-direction: row;
    flex: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}
.experience_title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #7e989d;
    margin-bottom: 0px;
    display: flex;
}
.experience_line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.stack_heading {
    color: #B1C6C9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0px;
    font-size: 18px;
}
.stack_subheading {
    color: #B1C6C9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0px;
    font-size: 15px;
}
.stack_intern, .stack_research {
    box-shadow: 6px 6px 6px #7E989D;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #597175;
    transition: transform 0.3s;
}
.stack_intern:hover, .stack_research:hover {
    transform: scale(1.02);
    box-shadow: 9px 9px 9px #7E989D;
}
.stack_bullets {
    color: white;
    font-size: 15px;
}
.experience_image {
    width: 100px;
    display: flex;
    /* margin-bottom: 100px; */
}
.container_3 {
    border-bottom: gray solid 1px;
}
@media only screen and (max-width: 600px) {
    .experience_section {
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media only screen and (max-width: 450px) {
    .stack_intern, .stack_research {
        padding-left: 30px;
        padding-right: 30px;
    }
    .experience_image {
        width: 50px!important;
    }
    .experience_title {
        font-size: 20px;
    }
}