.experience_section {
    padding-top: 100px;
    justify-content: center;
    align-items: center;
    padding-left: 200px;
    padding-right: 200px;
    padding-bottom: 100px;
    flex-direction: row;
    flex: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
    border-bottom: gray solid 1px;
}
.experience_title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: center;
    color: #7e989d;
    margin-bottom: 0px;
    display: flex;
}
.experience_line {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.stack_heading {
    color: #B1C6C9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-bottom: 0px;
}
.stack_subheading {
    color: #B1C6C9;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 0px;
}
.stack_intern, .stack_inspirit, .stack_research {
    box-shadow: 10px  10px 10px #7E989D;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #597175
}
.stack_bullets {
    color: white;
}
.experience_image {
    width: 100px;
    display: flex;
    /* margin-bottom: 100px; */
}