.email_card, .git_card, .resume_card{
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 270px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1px 1px gray;
}
.hover_text_cards {
    opacity: 0;
    font-size: 16px;
    transition: all 200ms ease-out;
}
.email_card:hover p, .resume_card:hover p, .git_card:hover p {
    transition-duration: 0.5s;
    opacity: 1;
}
.git_card a, .resume_card a {
    color: blue;
    text-decoration: none;
    font-weight: normal;
}
.contact_title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    color: #597175;
    display: flex;
    margin-bottom: 0px;
    align-items: center;
}
.contact_card {
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 150px;
}
.contact_card_container {
    display: flex;
    justify-content: space-between;
}
.contact_text {
    font-size: 16px;
    color: #597175;
}
.contact_line {
    margin-top: 100px;
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
    text-align: center;
}
.contact_image {
    width: 100px;
    display: flex;
}