
.header_sections {
    display: flex;
    align-items: center;
    margin-right: 75px;
}
.header_items {
    align-items: center;
    display: flex;
    margin-right: 30px;
    margin-left: 10px;
    color: white;
    font-weight: 400;
    font-size: 15px;
    margin-top: 30px;
}
.header_container {
    display: flex;
    justify-content: space-between;
    background-color: #597175;
    padding-left: 100px;
    padding-right: 100px;
}
.logo_container {
    display: flex;
    align-items: center;
    margin-left: 75px;
    margin-top: 20px;
    width: 70px;
    height: 70px;
}
.logo_style {   
    color: white;
    align-items: center;
    font-weight: 5;
    font-family:do-futuristic-font;
    font-size: 15px;
}
.header_icon {
    margin-bottom: 18px;
}