
.header_sections {
    display: flex;
    align-items: center;
    margin-right: 20px;
}
.header_items {
    align-items: center;
    display: flex;
    margin-right: 30px;
    margin-left: 10px;
    color: white;
    font-weight: 400;
    font-size: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
    transition-duration: 0.2s;
}
.header_items a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}
.header_items a:hover {
    font-size: 16px;
    transition-duration: 0.2s;
}
.container {
    background-color: #597175;
}
.header_container {
    display: flex;
    justify-content: space-between;
    background-color: #597175;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}
.logo_container {
    display: flex;
    align-items: center;
    margin-left: 50px;
    width: 150px;
    height: 150px;
    margin-bottom: 0px;
}
.logo_style {   
    color: white;
    align-items: center;
    font-weight: 5;
    font-family:do-futuristic-font;
    font-size: 15px;
}
.header_icon {
    margin-bottom: 0px;
    transition-duration: 0.2s;
}
.header_icon:hover {
    width: 25px;
    height: 25px;
    transition-duration: 0.2s;
}

@media only screen and (max-width: 1000px) {
    .header_icon {
        display: none;
    }
    .logo_container {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 200px;
    }
    .header_sections {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .header_container {
        flex-direction: column;
    }
    .header_items {
        margin-top: -30px;
        font-size: 16px;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 450px) {
    .header_items {
        display: flex;
        margin-right: 10px;
    }
    .header_sections {
        margin-right: 0px;
    }
}