.jumbotron_title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 90px;
    color: white;
    margin-bottom: 300px;
}
.jumbotron_subtitle {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 40px;
    color: white;
    position: absolute;
    margin-top: 0px;
    font-weight: 5;
    width: 900px;
    text-align: center;
    line-height: 50px;
}
.jumbotron_div {
    display: grid;
    margin-bottom: 200px;
}
.cards_container {
    display: flex;
    justify-content: space-between;
    margin-left: 100px;
    margin-right: 100px;
}
.my_projects {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 60px;
    margin-bottom: 100px;
    text-align: center;
    color: gray;
}