.footer_divider {
    color: white;
}
.footer_container {
    display: flex;
    justify-content: space-between;
    background-color: #597175;
}
.header_item {
    font-size: 13px;
    align-items: center;
    display: flex;
    margin-right: 30px;
    margin-left: 10px;
    color: white;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 0px;
}
.header_item a {
    color: white;
    text-decoration: none;
    font-weight: normal;
}
.footer_logo_container {
    display: flex;
    align-items: center;
    margin-left: 100px;
    width: 100px;
    height: 100px;
    margin-bottom: 0px;
}