.education_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 100px;
    flex-direction: row;
    flex: 1;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}
.education_title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 25px;
    text-align: left;
    color: #7E989D;
    margin-bottom: 0px;
    width: 100%;
    display: flex;
}
.aboutme_line {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.education_content {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.education_image{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.education_bullets {
    font-size: 14px;
}
.texasam_image {
    max-width: 100%;
    border-width: 100px;
    border: solid;
    border-color: white;
    box-shadow: 0 0 10px gray;
    border-radius: 10px;
    max-height: 100%;
    z-index: 1;
    top: 0;
    transition: top ease 0.5s;
}
.texasam_image:hover {
    position: relative;
    top: -15px;
}
.aboutme_icon {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin-right: -56px;
    border-color: white;
    box-shadow: 0 0 5px gray;
    z-index: 2;
    border: 2px solid white;
    margin-bottom: 80px;
    top: 0;
    transition: top ease 0.5s;
}
li span {
    color: #F4A733;
    font-weight: 600;
}
.aboutme_image {
    display: flex;
    width: 130px;
}
.aboutme_icon:hover {
    position: relative;
    top: -15px;
}
.container_2 {
    border-bottom: gray solid 1px;
}