.education_section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 100px;
    flex-direction: row;
    flex: 1;
    box-shadow: 5px 5px 4px #dde6e5;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 0px;
}
.education_title {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
    text-align: left;
    color: gray;
    margin-bottom: 20px;
    width: 100%;
    display: inline-block;
}
.education_content {
    width: 50%;
    display: flex;
    flex-direction: column;
}
.education_image{
    width: 50%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.education_bullets {
    font-size: 18px;
}
.texasam_image {
    max-width: 100%;
    border-width: 100px;
    border: solid;
    border-color: white;
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
    max-height: 100%;
    z-index: 1;
}
.aboutme_icon {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-right: -56px;
    border-color: white;
    box-shadow: 1px 1px 1px 1px gray;
    z-index: 2;
    border: 2px solid white;
}